<div class="about">
    <div class='logo'>
        <img src="media/logoStadBody.svg" width="420" height="460" alt="logo Stad">
    </div>
    <div class="information">
        <div class="contain">
            <div class="borderWhite"></div>
            <div class="text">
                <div class='title'>
                    <h1>{{obj.page[id].content[1].content.title}} <span class="subtitle">{{obj.page[id].content[1].content.secondTitle}}<span class="degrade">{{obj.page[id].content[1].content.secondTitleGradient}}&nbsp;{{obj.page[id].content[1].content.secondTitleGradient2}}</span></span></h1>
                </div>
                <p class="height">{{obj.page[id].content[1].content.tertiaryTitle}}</p>
                <p class="address">{{obj.page[id].content[1].content.subtitle}}<p>
                <p>{{obj.page[id].content[1].content.text}}</p>
                <p>{{obj.page[id].content[1].content.secondText}}</p>
            </div>
        </div>
    </div>
</div>
