<div class="twoContainer" style="background-image: url({{obj.page[id].content[2].content[0]}})">
    <div class="left">
        <div class="contain">
            <div class="text">
                <p class="title">{{element.content[1].title}}</p>
                <p class="subtitle">{{element.content[1].subtitle}}</p>
                <p>{{element.content[1].text}}</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="contain">
            <div class="text">
                <p class="title">{{element.content[2].title}}</p>
                <p class="subtitle">{{element.content[2].subtitle}}</p>
                <p>{{element.content[2].text}}</p>
            </div>
        </div>
    </div>
</div>