
<div class="twoContentsMap">
    <div class="titre">
        <header>{{obj.page[id].content[6].title}}</header>
    </div>
    <div class="twoContents">
        
        <div id="map">

        </div>
        <div class="text">
            <p class="title">{{obj.page[id].content[6].content.text.title}}</p>
            <p>{{obj.page[id].content[6].content.text.text}}</p>
            <p class="secondText">{{obj.page[id].content[6].content.text.text2}}</p>
            <div class="phoneNumber">
                <svg viewBox="0 0 20.87 38.37">
                    <path class="st0" d="M18.15,0.03L2.75,0C1.24,0,0.01,1.22,0.01,2.73l-0.06,32.88c0,1.51,1.22,2.74,2.73,2.74l15.39,0.03
                        c1.51,0,2.74-1.22,2.74-2.73l0.06-32.88C20.88,1.26,19.66,0.03,18.15,0.03z M10.61,36.81l-0.46,0c-0.8,0-1.44-0.65-1.44-1.44
                        c0-0.8,0.65-1.44,1.44-1.44l0.46,0c0.8,0,1.44,0.65,1.44,1.44C12.05,36.17,11.41,36.81,10.61,36.81z M18.55,32.14L2.23,32.11
                        L2.28,3.92L18.6,3.95L18.55,32.14z"/>
                </svg>
                <p class="phone">{{obj.page[id].content[6].content.text.phone}}</p>
            </div>
        </div>
    </div>
</div>